<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
<menu id="root-menu" label="Openbox 3.5">

<item label="Terminal"><action name="Execute"><command>foot</command></action></item>
<item label="Navigateur"><action name="Execute"><command>cachy-browser</command></action></item>
<item label="Documents"><action name="Execute"><command>thunar</command></action></item>
<item label="Editeur"><action name="Execute"><command>subl</command></action></item>
<item label="Lutris Proton"><action name="Execute"><command>sh -c "LUTRIS_ENABLE_PROTON=1 lutris"</command></action></item>
<item label="Slippi Online"><action name="Execute"><command>slippi-launcher</command></action></item>
<item label="Steam Minimal"><action name="Execute"><command>/usr/bin/steam-runtime -cef-disable-gpu-compositing -cef-disable-gpu steam://open/minigameslist %U</command></action></item>

<separator label=""/>

<menu id="applications" label="Applications" execute="labwc-menu-generator -p -I" />

<separator label=""/>

 <item label="Screenshot">
    <action name="Execute"><command>sh -c 'grim -g "`slurp`"'</command></action>
  </item>

<separator label=""/>

  <item label="Reconfigure labwc">
    <action name="Reconfigure" />
  </item>
 <item label="Killall">
    <action name="Execute"><command>killall -SIGUSR2 waybar</command></action>
  </item>

<menu id="root-menu-logout" label="Quitter">
  <item label="Quitter">
    <action name="Exit"></action>
  </item>
  <item label="Redémarrer">
    <action name="Execute"><command>systemctl -i reboot</command></action>
  </item>
  <item label="Eteindre">
    <action name="Execute"><command>systemctl -i poweroff</command></action>
  </item>
</menu>


</menu>

</openbox_menu>